* {
    padding: 0;
    margin: 0;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    background-color: rgb(242, 219, 170);
    
}

#adaptive {
    width: 100%;
    height: 100%;
    background-color: rgb(242, 219, 170);
    background-image: url(../bg.png);
    margin: 0 auto;
}

.start-game{
    width: 200px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -100px;
    margin-top: -20px;
    z-index: 100;

}

/* 倒计时 */
#count-down{
    width: 200px;
    text-align: center;
    margin: 20px auto;
    font-size: 100px;
    position: absolute;
    top: 10px;
    left: 50%;
    margin-left: -100px;
    z-index: 100;
    color: red;
}